.draftWrapper
  .draftInfo
    display: flex
    justify-content: space-between
    cursor: pointer
    font-size: 20px
    padding: 0 10px
    border-top: 1px solid $color-gray-1
    border-bottom: none
    height: 80px
  .draftInfo:hover
    background-color: $color-gray-1 
  .draftBread
    height: 55px
    display: flex
    align-items: center
    margin: 0 20px
    .draftBreadTitle
      color: $color-dark
      font-weight: 600
 