.warpper
  background-color: $color-gray
  padding: 0.2rem 0 0.2rem 1rem
  display: flex
    // width: 60%
  .markdown
    background-color: $color-white
    flex-direction: column
    flex: 1
    padding: 0.2rem
  .panelAffix
    position: absolute
    left: 0.5rem
    transform: translateZ()      
    flex-grow: 0
  .asider
    margin:0 1rem 0 0.1rem
    width: 2rem
    background-color: $color-white
