// color
$color-gray: #E5E6EB
$color-blue-1: #E8F3FF
$color-blue-2: #BEDAFF
$color-blue-3: #6AA1FF
$color-blue-4: #165DFF
// center
@mixin flex($direction)
  display: flex
  flex-direction: $direction
  justify-content: center
  align-items: center 

@mixin textCenter($height)
  height: $height
  line-height: $height
  text-align: center

