.wrapper
  height: 100%
  min-height: 330
  background-color: #fff
  .header
    display: flex
    justify-content: space-between
    align-items: center
    border: 1px solid $color-gray
    .btn
      margin: 0 18px
  .writing
    display: flex
    border: 1px solid $color-gray
    .catalogue
      height: 600px
      width: 150px
      .listBtn
        color: #fff
        background-color: $color-gray
        @include textCenter(40px)
      .listBtnActive
        background-color: $color-primary-blue
        color: #fff
        @include textCenter(40px)
  .footer
    height: 30px
.drawer
  min-width: 375px
.tool
  display: flex
  justify-content: center
  align-items: center
  height: 0.3rem
  min-height: 40px
  .svg
    margin: 0 0.1rem 
    .panel
      @include panel-small()
  .svg:hover
    cursor: pointer 